AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignEscapedNewlines: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: LLVM
BinPackArguments: false
BinPackLongBracedList: false
BinPackParameters: OnePerLine
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakBinaryOperations: OnePerLine
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketLoop: true
ContinuationIndentWidth: 2
